#nav {
  position: absolute;
  height: 40vh;
  width: 100vw;
  background-color: #050505;
  overflow: hidden;
}

#nav[close="0"] {
  animation: dropDown 0.8s ease-in-out forwards;
}

#nav[close="1"] {
  animation: goUp 0.8s ease-in-out forwards;
}

#items[close="0"] {
  opacity: 0;
  animation: showText 1s ease-in-out forwards;
}

#items[close="1"] {
  animation: hideText 0.8s ease-in-out forwards;
}

#items span:nth-child(1) {
  animation-delay: 0;
  /* color: red; */
}
#items span:nth-child(2) {
  /* color: pink; */
  animation-delay: 2s;
}
#items span:nth-child(3) {
  /* color: gray; */
  animation-delay: 4s;
}

@keyframes goUp {
  to {
    height: 0vh;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  }
  from {
    height: 100vh;
    /* clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%); */
    border-bottom: 25%;
  }
}

@keyframes dropDown {
  from {
    height: 0vh;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
  }
  to {
    height: 100vh;
    /* clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%); */
    border-bottom: 25%;
  }
}

@keyframes showText {
  from {
    opacity: 0;
    transform: translateX(90%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes hideText {
  from {
    opacity: 1;
    /* transform: translateX(0%); */
  }
  to {
    opacity: 0;
    /* transform: translateX(50%); */
  }
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body,
html {
  color: black;
  font-family: "Open sans", sans-serif;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(45deg, #2c3945, #14243c); */
}

* {
  box-sizing: border-box;
}

.scrollBody {
  width: 100vw;
  /* position: fixed; */
  /* top: 0; */
  display: flex;
  flex-direction: column;
}
